.wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    @include clearfix;
}

.column {
    &-wrap {
        @include clearfix;
    }

    &-dark {
        background-color: #2A2A2A;
        margin: 0 -30px 1.5rem;
    }
}

.zone--highlight {

    .slider-wrap,
    .story--vertical,
    .top-stories .story {
        margin-bottom: 1rem;
    }

    @media screen and(min-width: 768px) {
        .highlight-zone {
            @include clearfix();
            margin: 0 -8px 15px;
        }

        .slider-wrap {
            padding: 0 8px;
            width: 66.66%;
            float: left;
            margin-bottom: 0;
        }

        .story--vertical {
            padding: 0 8px;
            width: 33.33%;
            margin-bottom: 0;
            float: right;
        }

        .top-stories .story {
            margin-bottom: 0;
        }
    }
}