/* ====================================   Global fonts   ==================================== */

// Font Bai Jamjuree
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.eot');
    src: local('☺'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.woff2') format('woff2'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.woff') format('woff'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-Italic.eot');
    src: local('☺'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Italic.woff2') format('woff2'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Italic.woff') format('woff'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.eot');
    src: local('☺'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.woff2') format('woff2'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.woff') format('woff'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBoldItalic.eot');
    src: local('☺'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-Bold.eot');
    src: local('☺'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Bold.woff2') format('woff2'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Bold.woff') format('woff'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-BoldItalic.eot');
    src: local('☺'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-BoldItalic.woff2') format('woff2'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-BoldItalic.woff') format('woff'),
        url('../fonts/Bai_Jamjuree/BaiJamjuree-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


